#credits,
.plan2,
ul.plan2-details li {
    text-align: center
}

.plans,
.plans ul,
.plans ul li {
    margin: 0;
    padding: 0;
    list-style: none
}

.pricePlans {
    zoom: 1;
    margin: 0 auto
}

.pricePlans:after {
    content: '';
    display: table;
    clear: both
}

.pricePlans .plans .plan {
    background: #f2f2f2;
    float: left;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 0 0 10px
}

.pricePlans .plans .plan.bordered {
    background-color: transparent;
    border: 1px solid #4286F7
}

.pricePlans .plans .plan.bordered .planContainer .options li span {
    color: #4286F7
}

.planContainer .title h2 {
    font-size: 2.125em;
    font-weight: 300;
    margin: 0;
    padding: .6em 0;
    text-shadow: none
}

.planContainer .title h2.bestPlanTitle {
    background: #4286F7;
    color: #fff;
    border-radius: 3px 3px 0 0
}

.planContainer .price p {
    background: #4286F7;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    height: 2.6em;
    line-height: 2.6em;
    margin: 0 0 1em
}

.planContainer .price p.bestPlanPrice {
    background: #C9DDFF;
    color: #4286F7
}

.planContainer .price p span {
    color: #F9BB06
}

.planContainer .options {
    margin-top: 1em
}

.planContainer .options li {
    font-weight: 700;
    line-height: 2.5
}

.planContainer .options li span {
    font-weight: 400;
    color: #4286F7
}

.planContainer .button a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    line-height: 2.8em;
    border: 1px solid #4286F7;
    display: inline-block;
    width: 80%;
    height: 2.8em;
    margin: 1.5em 0 1.8em
}

.planContainer .button a.bestPlanButton {
    color: #fff;
    background: #E84234;
    border: 1px solid #E84234
}

#credits {
    font-size: .8em;
    font-style: italic
}

#credits a {
    color: #404040
}

#credits a:hover {
    text-decoration: none
}

@media screen and (min-width:481px) and (max-width:768px) {
    .pricePlans .plans .plan {
        width: 49%;
        margin: 0 2% 20px 0
    }
    .pricePlans .plans>li:nth-child(2n) {
        margin-right: 0
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .pricePlans .plans .plan {
        width: 49%;
        margin: 0 2% 20px 0
    }
    .pricePlans .plans>li:nth-child(2n) {
        margin-right: 0
    }
}

@media screen and (min-width:1025px) {
    .pricePlans {
        margin: 0 auto
    }
    .pricePlans .plans .plan {
        width: 24%;
        margin: 0 1.33% 0 0;
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s
    }
    .pricePlans .plans .plan:hover {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
        -ms-transform: scale(1.04);
        -o-transform: scale(1.04);
        transform: scale(1.04)
    }
    .pricePlans .plans>li:last-child {
        margin-right: 0
    }
    .planContainer .button a {
        -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
        -o-transition: all .25s;
        transition: all .25s
    }
    .planContainer .button a:hover {
        background: #4286F7;
        color: #fff
    }
    .planContainer .button a.bestPlanButton:hover {
        background: #9E5645;
        border: 1px solid #9E5645
    }
}

.plan2 {
    padding: 10px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 10px
}

.plan2-title {
    margin-bottom: 12px;
    font-size: 24px;
    color: #333;
    text-shadow: none;
    margin-top: 30px
}

.plan2-price {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 28px;
    font-weight: 700;
    color: #E84234
}

.plan2-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 400
}

ul.plan2-details li {
    cursor: pointer;
    width: 30%;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #adadad;
    background-color: #FFF;
    padding: 15px 0;
    margin: 0 5px 10px 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    color: gray
}

ul.plan2-details li h4.plan2-name {
    font-size: 12px;
    margin: 0;
    text-shadow: none
}

ul.plan2-details li span {
    font-size: 15px;
    font-weight: 600
}

ul.plan2-details li:hover {
    background-color: #fff;
    color: #5b90bf;
    border: 1px solid #ccc
}

ul.plan2-details li:last-child {
    margin-right: 0
}

.plan2-recommended {
    margin: -20px auto -16px;
    width: 70%;
    font-weight: 600;
    color: #fff;
    background: #eb5e3d;
    padding: 7px;
    border-radius: 0 0 8px 8px;
    position: relative
}

.plan2-recommended:after,
.plan2-recommended:before {
    position: absolute;
    content: "";
    top: 0;
    border-top: 9px solid transparent
}

.plan2-recommended:before {
    left: -16px;
    border-right: 8px solid #e84234;
    border-left: 8px solid transparent
}

.plan2-recommended:after {
    right: -16px;
    border-left: 8px solid #e84234;
    border-right: 8px solid transparent
}

@media (min-width:768px) and (max-width:991px) {
    .plan2 {
        margin-bottom: 10px
    }
}